module.exports = {
    apiServer: 'https://net.ton.dev',
    toolset: 'tonos', // use 'native' if you need your transactions submitted via lite-client
    funding: 'wallet', // use 'depool' if you wish to send stakes from DePool
    msig: {
        addr: {
            wc: -1,
            id: "dc98905c2ff4356331a7c4134956aa257600cf9c54e43f23f438470a3703df92"
        },
        keys: {
            public: "c89b32a11ec837298731ebbd2176f0cf96dab52f978d6cbe198fafeafaaa0fc5",
            secret: "4a579ee59f540e325e2d0dad600f412c04cf80fae2ae25294a32e7412385787c"
        },
        setcode: false
    },
    depool: {
        addr: '0:2de8d63dc6169913cb734fa8effca16fa8c4fd2550834c1b9196d8a690f6e182',
        helper: {
            addr: '0:a933e2ff58f1c445bcac09c50f44494374215eae740a33da8aefc9ca137de40b',
            keys: {
                public: '4944641266987d9ae1a3dbe4052fed101c9833476b1a8763ae99217f3229f58e',
                private: '556a02c98a9acff3a467892829abf68c0adf432b51e7a4f499325d272c837251'
            }
        }
    },
    defaultStake: 10001,
    liteServer: {
        host: '1.2.3.4',
        port: 3031
    },
    validatorEngine: {
        host: "1.2.3.4",
        port: 3030
    },
    dbFiles: {
        config: '/data/freeton-staking-manager/config.db',
        elections: '/data/freeton-staking-manager/elections.db'
    },
    periodicJobs: {
        enabled: true,
        acceptableTimeDiff: -10,
        sendStake: '0,15,30,45 * * * *',
        recoverStake: '5,20,35,50 * * * *'
    }
}
